.vscode/*
**/cmake_install.cmake
**/CMakeFiles
**/CMakeCache.txt
**/Makefile
**/main
**/test_decentralized_generation
**/test_sort_validation
**/output*
**/Jupyter_Files/.ipynb_checkpoints/*
MPI_Builds/radix*
MPI_Builds/2
MPI_Builds/auto2.sh
MPI_Builds/old.cpp
MPI_Builds/pert/
MPI_Builds/rand/
